/* Global Styles */
:root {
    /* Colors */
    --white: #ffffff;
    --black: #000000;
    --yellow: #fef329;
    --dark-charcoal: #333333;
    --light-grey: #dddddd;
    --cinnabar: #e63b3b;

    /* Fonts */
    --font-family: Arial, Helvetica, sans-serif;
    --font-helvetica: Helvetica;

    /* Font Sizing */
    --heading: 2.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    color: var(--black);
}

body {
    background-color: var(--light-grey);
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    height: auto;
}

.wrapper {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

/* Utility Styles */
.hide {
    display: none;
}

.show {
    display: block;
}

.margin-s {
    margin: 10px;
}

.margin-m {
    margin: 15px;
}

.margin-l {
    margin: 20px;
}

.padding-s {
    padding: 10px;
}

.padding-m {
    padding: 15px;
}

.padding-l {
    padding: 20px;
}



/* Header Styles */
@media screen and (min-width:769px) {
    .header-navigation_desktop {
        display: block;
    }
    
    .header-navigation_mobile {
        display: none;
    }

    .header-navigation_mobile-links-container {
        display: none;
    } 
}

.header-container {
    position: relative;
    background-color: var(--white);
}

.header-wrapper {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    height: auto;
}

.header-navigation_desktop {
    display: flex;
    width: 100%;
    align-items: center;
}

.header-logo,
.header-navigation_destop-links-container,
.header-navigation_hamburger-menu,
.two-col-_wrapper {
    width: 50%;
    display: block;
}

.logo {
    width: 40px;
}

.logo img {
    width: 100%;
}

.header-navigation_desktop ul {
    display: flex;
    justify-content: flex-end;
}

li {
    list-style-type: none;
    padding: 0 10px;
}

.header-navigation_links {
    text-decoration: none;
    color: var(--link-black);
    font-family: var(--font-family);
    font-size: .75rem;
}

/* @media screen and (min-width:1920px) {
    .header-wrapper {
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
    }
} */

/* Mobile Navigation Styles */
@media screen and (max-width:768px) {
    .header-navigation_desktop {
        display: none;
    }
    
    .header-navigation_mobile {
        display: flex;
        width: 100%;
        align-items: center;
    }
}

.header-navigation_mobile-links-container {
    width: 100%;
    position: absolute;
    z-index: 100;
} 

.mobile-wrapper {
    background-color: var(--dark-charcoal);
}

.mobile-wrapper #mobile-links {
    display: none;
    padding: 0;
    margin: 0;
}

li.mobile-li {
    padding: 0;
}

.mobile-wrapper a {
    color: var(--white);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.header-navigation_hamburger-menu a.icon {
    display: flex;
    justify-content: end;
    text-decoration: none;
}

i.fa.fa-bars {
    color: black;
}
  
.mobile-wrapper a.icon:hover {
    background-color: transparent;
}

.mobile-wrapper a:hover {
    background-color: var(--light-grey);
    color: var(--black);
}
  
.active {
    background-color: var(--light-grey);
    color: white;
}

/* Hero Styles */
.hero-wrapper img {
    width: 100%;
    height: auto;
    margin-bottom: -4px;
}

.hero-wrapper button {
    background-color: var(--yellow);
    border: 2px solid var(--black);
    font-size: 1.5rem;
    border-radius: 5px;
    margin-top: 25px;
    padding: 10px 25px;
    font-weight: 700;
}

@media screen and (min-width: 1920px) {
    
}

/* 2 Column Section*/
.two-col-_wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--black);
}

.two-col {
    width: 100%;
    background-color: var(--white);
}

.two-col.col-1 {
    background-color: var(--black);
}

.two-col .two-col_img-wrapper {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
}

.two-col img {
    width: 85%;
    margin: 0 auto;
    display: flex;
}

.two-col_text-wrapper {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
}

.two-col h1 {
    margin: 0;
    font-size: 1.5rem;
    font-family: var(--font-helvetica);
    text-align: center;
    padding: 5% 0 0;
}

.two-col p {
    font-family: var(--font-family);
    font-size: .875rem;
    padding: 5% 1.5rem 3%;
}

.btn-wrapper {
    padding: 5% 0 5%;
}

.btn-learn-more {
    display: flex;
    margin: 0 auto;
    padding: 10px 20px;
    font-weight: 700;
    background-color: var(--black);
    color: var(--white);
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

@media screen and (min-width: 426px) {
    .two-col-_wrapper {
        flex-wrap: nowrap;
    }

    .two-col {
        width: 50%;
    }

    .two-col img {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .btn-wrapper {
        padding: 3% 0 5%;
    }
}

@media screen and (min-width: 1024px) {
    .two-col {
        margin: 40px;
        border-radius: 5px;
    }

    .two-col h1 {
        font-size: 1.7rem;
    }
    
    .two-col p {
        font-size: 1rem;
    }
    
    .btn-wrapper {
        padding: 3% 0 5%;
    }
}

@media screen and (min-width: 1440px) {
    .two-col h1 {
        font-size: 2.5rem;
    }
    
    .two-col p {
        font-size: 1.5rem;
    }

    .btn-wrapper {
        padding: 3% 0 5%;
    }
    
    .btn-learn-more {
        padding: 14px 30px;
        font-size: .9rem;
    }
}

@media screen and (min-width: 2560px) {
    .two-col .two-col {
        background-color: var(--black);
    }

    .two-col h1 {
        font-size: 3rem;
    }

    .btn-wrapper {
        padding: .5% 0 5%;
    }
    
    .btn-learn-more {
        font-size: 1rem;
    }
}

/* Product Carousel */
.splide-container {
    width: 100%;
    
}

.splide-wrapper {
    background-color: var(--white);
}

.splide {
    margin: 0 auto;
    padding: 25px 0;
    
}

h1#carousel-heading {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 25px;
}

.splide__list {
    align-items: center;
}

.splide__slide {
    border: 1px solid var(--light-grey);
    background-color: white;
}

.splide__slide__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid var(--light-grey);
}

.splide__slide img {
    width: 85%;
    height: auto;
}

.title {
    height: 40px;
    padding-top: 15px;
    font-weight: 700;
    font-size: 0.813rem;
}

.category {
    padding-bottom: 10px;
    height: 50px;
    font-size: 0.875rem;
}

.price {
    padding-bottom: 10px;
    font-weight: 700;
}

.splide__arrow--prev {
    left: 0em !important;
}

.splide__arrow--next {
    right: 0em !important;
}

.splide__arrow svg {
    fill: var(--dark-charcoal) !important;
}

.splide__arrow:hover:not(:disabled) svg {
    fill: var(--dark-charcoal) !important;
}

@media screen and (min-width: 500px) {
    .splide__arrow--prev {
        left: -2.2em !important;
        top: 58% !important
    }

    .splide__arrow--next {
        right: -2.2em !important;
        top: 58% !important
    }
}

@media screen and (min-width: 1024px) {
    .splide__arrow--prev {
        left: -2.5em !important;
    }

    .splide__arrow--next {
        right: -2.5em !important;
    }
}

/* Nike Banner */
.headline-2_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 25px;
    background-color: #fff;
}

.headline-2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 28px;
}

.nike-banner_wrapper {
    background-color: #000000;
    padding: 3.125rem;
    display: flex;
}

.nike-banner_wrapper * {
    color: #ffffff;
}

.nike-banner_wrapper h3 {
    font-size: 3rem;
    line-height: 40px;
    text-transform: uppercase;
}

.nike-banner_wrapper p {
    padding-left: 1rem;
    font-size: 1rem;
    line-height: 24px;
    margin-top: 32px;
    font-weight: 400;
}

.nike-banner_btn-wrapper {
    margin-top: 32px;
}

.btn {
    padding: 6px 20px;
    border-radius: 30px;
    border: 1.5px solid transparent;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
}

.nike-banner_btn {
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

.nike-banner_wrapper .logo_wrapper {
    display: flex;
    justify-content: center;
}

.nike-banner_wrapper div img {
    width: 100%;
}